html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.body {
  margin: 0%;
}

.header__menu {
  background-color: #dbc4c4;
  width: 100%;
  border-bottom: solid 2px #ac888a;
}

.header__menu .contenedorLogoYelementos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .contenedorLogoYelementos .contenedorLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__menu .contenedorLogoYelementos .contenedorLogo .logo {
  margin: 10px;
  border-radius: 4rem;
  width: 120px;
  margin-left: 10px;
}

.header__menu .contenedorLogoYelementos .navbar {
  margin-bottom: 0.5rem;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid {
  background-color: #dbc4c4;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .nav-link {
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .nav-link .nav-link:hover {
  -webkit-box-shadow: 0 0 0.2rem #ac888a;
          box-shadow: 0 0 0.2rem #ac888a;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .dropdown-menu {
  background-color: #f5f2f1;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .dropdown-menu .dropdown-item {
  background-color: #f5f2f1;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .dropdown-menu .dropdown-item:hover {
  background-color: #ac888a;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .d-flex {
  margin-left: 10px !important;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .d-flex .form-control {
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
  color: black;
  border-right: 1rem;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .d-flex .form-control:hover {
  border-color: #ac888a;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .d-flex .form-control:focus {
  color: black;
  -webkit-box-shadow: 0 0 0 0.25rem #ac888a;
          box-shadow: 0 0 0 0.25rem #ac888a;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .d-flex .btn-outline-success {
  background-color: #dbc4c4;
  border-color: #ac888a;
  color: black;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .d-flex .btn-outline-success:hover {
  background-color: #dbc4c4;
  border-color: #ac888a;
  color: black;
}

.header__menu .contenedorLogoYelementos .navbar .container-fluid .d-flex .btn-outline-success:focus {
  color: black;
  -webkit-box-shadow: 0 0 0 0.25rem #ac888a;
          box-shadow: 0 0 0 0.25rem #ac888a;
}

.flexContainerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dbc4c4;
  width: 100%;
  margin-top: 0%px;
  padding: 20px;
  clear: both;
}

.flexContainerFooter .seguinosRedes h5 {
  letter-spacing: 4px;
  font-family: "Teko", sans-serif;
  text-align: center;
}

.flexContainerFooter .redes img {
  padding: 10px;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.flexContainerFooter .redes img:hover {
  -webkit-box-shadow: 0 0 0.2rem #ac888a;
          box-shadow: 0 0 0.2rem #ac888a;
}

.flexContainerFooter .mediosDePago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
  border-top: 1rem;
  border-top: solid 1px #ac888a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexContainerFooter .mediosDePago .imgTarjetas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexContainerFooter .mediosDePago .imgTarjetas img {
  padding: 10px;
  max-height: 40px;
}

.seccionProductosIndex {
  background-color: #f5f2f1;
}

.seccionProductosIndex .titulosSecciones {
  color: black;
  font-size: 1.9rem;
  letter-spacing: 4px;
  font-family: "Teko", sans-serif;
  text-align: center;
  height: 5rem;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ac888a;
}

.seccionProductosIndex .contenedorProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding-top: 70px;
  padding-bottom: 100px;
}

.seccionProductosIndex .contenedorProductos .categoriaProductos img {
  width: 25rem;
  border-radius: 20px;
  -webkit-transition: all 0.9s ease;
  /* Safari y Chrome */
  -moz-transition: all 0.9s ease;
  /* Firefox */
  -o-transition: all 0.9s ease;
  /* IE 9 */
  -ms-transition: all 0.9s ease;
  /* Opera */
}

.seccionProductosIndex .contenedorProductos .categoriaProductos img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.seccionProductosIndex .contenedorCompraYenvios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  background-color: #ac888a;
}

.seccionProductosIndex .contenedorCompraYenvios .compraYenvio a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-family: "Teko", sans-serif;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.seccionProductosIndex .contenedorCompraYenvios .compraYenvio a:hover {
  -webkit-box-shadow: 0 0 0.2rem black;
          box-shadow: 0 0 0.2rem black;
}

.section__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #f5f2f1;
}

.section__contacto .titulosSecciones {
  color: black;
  font-size: 1.9rem;
  letter-spacing: 4px;
  font-family: "Teko", sans-serif;
  text-align: center;
  height: 5rem;
  padding-top: 25px;
  background-color: #ac888a;
}

.section__contacto__form__maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__contacto__form__maps .contenedorFormulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  background-color: #f5f2f1;
  width: 25rem;
  border: solid #ac888a 1px;
  border-radius: 1%;
}

.section__contacto__form__maps .contenedorFormulario .fieldset {
  padding: 10px;
}

.section__contacto__form__maps .contenedorFormulario .fieldset #legendContactanos {
  font-size: 25px;
  padding-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  color: black;
}

.section__contacto__form__maps .contenedorFormulario .fieldset .contacto {
  border: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorCampos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorCampos label {
  color: black;
  letter-spacing: 4px;
}

.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorCampos .input button,
.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorCampos input,
.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorCampos optgroup,
.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorCampos select,
.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorCampos textarea {
  border-radius: 5px;
  border: solid 1px #ac888a;
  color: #ac888a;
}

.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorBotones {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  padding-bottom: 20px;
}

.section__contacto__form__maps .contenedorFormulario .fieldset .contacto .contenedorBotones .btn-light {
  background-color: #f5f2f1;
  border-color: #ac888a;
  color: #ac888a;
  font-family: "Teko", sans-serif;
}

.section__contacto .contenedorSucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ac888a;
  width: 100%;
  padding-top: 10px;
}

.section__contacto .contenedorSucursales h3 {
  font-size: 23px;
  letter-spacing: 4px;
  font-family: "Teko", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.section__contacto .contenedorSucursales .sucursales {
  padding-left: 22px;
}

.section__contacto .contenedorSucursales .sucursales p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  height: 100%;
}

.section__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f2f1;
  width: 100%;
}

.section__productos .titulosSecciones {
  color: black;
  font-size: 1.9rem;
  letter-spacing: 4px;
  font-family: "Teko", sans-serif;
  text-align: center;
  height: 5rem;
  padding-top: 1.55rem;
  padding-bottom: 1.55rem;
  background-color: #ac888a;
}

.section__productos .categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section__productos .categorias .btn-group {
  font-family: "Teko", sans-serif;
}

.section__productos .categorias .btn-group .btn-primary {
  color: black;
  background-color: #f5f2f1;
  border-color: #ac888a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
}

.section__productos .categorias .btn-group .btn-primary:hover {
  background-color: #ac888a;
  border-color: #999999;
}

.section__productos .categorias .btn-group .btn-primary:focus {
  color: black;
  -webkit-box-shadow: 0 0 0 0.25rem #dbc4c4;
          box-shadow: 0 0 0 0.25rem #dbc4c4;
}

.section__productos .categorias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.section__productos .categorias ul li {
  list-style-type: none;
  font-family: "Teko", sans-serif;
}

.section__productos .contenedorDestacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__productos .contenedorDestacados .tituloDestacados {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px;
  text-align: center;
  color: black height 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section__productos .contenedorDestacados p {
  display: none;
}

.section__productos .contenedorDestacados .productosDestacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

.section__productos .contenedorDestacados .productosDestacados .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
  margin: 1rem;
  background-color: #f5f2f1 !important;
  border-radius: 1%;
}

.section__productos .contenedorDestacados .productosDestacados .card img {
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.section__productos .contenedorDestacados .productosDestacados .card img:hover {
  opacity: 0.5;
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body h5 {
  font-family: "Roboto", sans-serif !important;
  color: #000000;
  font-size: 15px;
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body .btn-primary {
  background-color: #f5f2f1 !important;
  border: solid #ac888a;
  color: black;
}

.section__productos .contenedorDestacados .productosDestacados .card .btn-primary:hover {
  background-color: #ac888a;
  border-color: #dbc4c4;
}

.section__productos .contenedorDestacados .productosDestacados .card .btn-primary:focus {
  color: black;
  -webkit-box-shadow: 0 0 0 0.25rem #dbc4c4;
          box-shadow: 0 0 0 0.25rem #dbc4c4;
}

.section__productos .contenedorCompraYenvios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  background-color: #ac888a;
}

.section__productos .contenedorCompraYenvios .compraYenvio a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Teko", sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section__productos .contenedorCompraYenvios .compraYenvio a:hover {
  -webkit-box-shadow: 0 0 0.2rem black;
          box-shadow: 0 0 0.2rem black;
}

@media (max-width: 575.98px) {
  /* H E A D E R*/
  .header__menu .contenedorLogoYelementos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 0.5rem;
  }
  .header__menu .contenedorLogoYelementos .contenedorLogo {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__menu .contenedorLogoYelementos .contenedorLogo .logo {
    margin-top: 1rem;
    border-radius: 4rem;
    width: 100px;
    margin-left: 10px;
  }
  /*S E C C I O N  I N D E X*/
  .seccionProductosIndex .titulosSecciones {
    font-size: 1.5rem !important;
    letter-spacing: 1px;
  }
  .categoriaProductos img {
    padding-bottom: 10px;
    width: 20rem !important;
  }
  /*S E C C I O N   P R O D U C T O S*/
  .section__productos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__productos .contenedorCategorias {
    width: 100%;
  }
  .section__productos .contenedorCategorias .titulosSecciones {
    font-size: 1rem;
    letter-spacing: 1px;
    padding-top: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section__productos .contenedorDestacados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__productos .contenedorDestacados p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__productos .contenedorDestacados .productosDestacados {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 27rem;
    overflow-y: scroll;
  }
  .section__productos .contenedorNovedades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contenedorCompraYenvios {
    width: 100%;
  }
  /*S E C C I O N  C O N T A C T O*/
  .section__contacto__form__maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__contacto__form__maps .contenedorFormulario {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 23rem;
  }
  .section__contacto__form__maps .maps iframe {
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
  }
  .section__contacto .contenedorSucursales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
    padding-right: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: small;
  }
  /*S E C C I O N  Q U I E N E S   S O M O S*/
  .somosUnaTienda p {
    font-size: 1rem !important;
  }
  .instagram__cards {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .instagram__cards .card {
    margin-bottom: 3rem;
  }
  /*S E C C I O N  NEWSLETTER*/
  .contenedorNovedades {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* H E A D E R*/
  .header__menu .contenedorLogoYelementos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 0.5rem;
  }
  .header__menu .contenedorLogoYelementos .contenedorLogo {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__menu .contenedorLogoYelementos .contenedorLogo .logo {
    margin-top: 1rem;
    border-radius: 4rem;
    width: 100px;
    margin-left: 10px;
  }
  /*S E C C I O N  I N D E X*/
  .seccionProductosIndex .titulosSecciones {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .contenedorProductos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorProductos .categoriaProductos img {
    padding-bottom: 10px;
    width: 15rem;
  }
  /*S E C C I O N   P R O D U C T O S*/
  .section__productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__productos .contenedorCategorias {
    width: 100%;
  }
  .section__productos .contenedorCategorias .titulosSecciones {
    font-size: 1rem;
    letter-spacing: 1px;
    padding-top: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section__productos .contenedorDestacados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .section__productos .contenedorDestacados p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__productos .contenedorDestacados .productosDestacados {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 27rem;
    overflow-y: scroll;
  }
  .section__productos .contenedorNovedades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contenedorCompraYenvios {
    width: 100%;
  }
  /*S E C C I O N  C O N T A C T O*/
  .section__contacto__form__maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__contacto__form__maps .contenedorFormulario {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 23rem;
  }
  .section__contacto__form__maps .maps iframe {
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
  }
  .section__contacto .contenedorSucursales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
    padding-right: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: small;
  }
  /*S E C C I O N  Q U I E N E S   S O M O S*/
  .somosUnaTienda p {
    font-size: 1rem !important;
  }
  .instagram__cards {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .instagram__cards .card {
    margin-bottom: 3rem;
  }
  /*S E C C I O N  NEWSLETTER*/
  .contenedorNovedades {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* H E A D E R*/
  .header__menu .contenedorLogoYelementos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 0.5rem;
  }
  .header__menu .contenedorLogoYelementos .contenedorLogo {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__menu .contenedorLogoYelementos .contenedorLogo .logo {
    margin-top: 1rem;
    border-radius: 4rem;
    width: 100px;
    margin-left: 10px;
  }
  /*S E C C I O N  I N D E X*/
  .seccionProductosIndex .titulosSecciones {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .contenedorProductos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorProductos .categoriaProductos img {
    padding-bottom: 10px;
    width: 16rem !important;
  }
  /*S E C C I O N   P R O D U C T O S*/
  .section__productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__productos .contenedorCategorias {
    width: 100%;
  }
  .section__productos .contenedorCategorias .titulosSecciones {
    font-size: 1rem;
    letter-spacing: 1px;
    padding-top: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section__productos .contenedorDestacados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .section__productos .contenedorDestacados p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__productos .contenedorDestacados .productosDestacados {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 27rem;
    overflow-y: scroll;
  }
  .section__productos .contenedorNovedades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contenedorCompraYenvios {
    width: 100%;
  }
  /*S E C C I O N  C O N T A C T O*/
  .section__contacto__form__maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__contacto__form__maps .contenedorFormulario {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 23rem;
  }
  .section__contacto__form__maps .maps iframe {
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
  }
  .section__contacto .contenedorSucursales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
    padding-right: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: small;
  }
  /*S E C C I O N  Q U I E N E S   S O M O S*/
  .somosUnaTienda p {
    font-size: 1rem !important;
  }
  .instagram__cards {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .instagram__cards .card {
    margin-bottom: 3rem;
  }
  /*S E C C I O N  NEWSLETTER*/
  .contenedorNovedades {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.seccionPrincipalNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f2f1;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.seccionPrincipalNosotros .titulosSecciones {
  color: black;
  font-size: 1.9rem;
  letter-spacing: 4px;
  font-family: "Teko", sans-serif;
  text-align: center;
  height: 5rem;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ac888a;
}

.seccionPrincipalNosotros .contenedorParrafos {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionPrincipalNosotros .contenedorParrafos .somosUnaTienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 65%;
}

.seccionPrincipalNosotros .contenedorParrafos .somosUnaTienda p {
  font-size: 18px;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  -webkit-transition: all 0.9s ease;
  /* Safari y Chrome */
  -moz-transition: all 0.9s ease;
  /* Firefox */
  -o-transition: all 0.9s ease;
  /* IE 9 */
  -ms-transition: all 0.9s ease;
  /* Opera */
}

.seccionPrincipalNosotros .contenedorParrafos .somosUnaTienda p:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.seccionPrincipalNosotros .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccionPrincipalNosotros .instagram .igArbol {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.9s ease;
  /* Safari y Chrome */
  -moz-transition: all 0.9s ease;
  /* Firefox */
  -o-transition: all 0.9s ease;
  /* IE 9 */
  -ms-transition: all 0.9s ease;
  /* Opera */
}

.seccionPrincipalNosotros .instagram .igArbol img {
  padding: 10px;
  max-height: 45px;
}

.seccionPrincipalNosotros .instagram .igArbol h4 {
  font-size: 28px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif !important;
  text-align: center;
  color: black;
  margin-top: 2rem;
}

.seccionPrincipalNosotros .instagram .igArbol:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.seccionPrincipalNosotros .instagram .instagram__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
}

.seccionPrincipalNosotros .instagram .instagram__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
  border-radius: 1%;
  border: transparent;
  background-color: #f5f2f1;
}

.seccionPrincipalNosotros .contenedorInformativoSalud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 5rem;
  background-color: #ac888a;
  width: 100%;
}

.seccionPrincipalNosotros .contenedorInformativoSalud .informativo a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Teko", sans-serif;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.seccionPrincipalNosotros .contenedorInformativoSalud .informativo a:hover {
  -webkit-box-shadow: 0 0 0.2rem black;
          box-shadow: 0 0 0.2rem black;
}

.section__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f2f1;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.section__newsletter .titulosSecciones {
  color: black;
  font-size: 1.9rem;
  letter-spacing: 4px;
  font-family: "Teko", sans-serif;
  text-align: center;
  height: 5rem;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ac888a;
}

.section__newsletter .contenedorNovedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.section__newsletter .contenedorNovedades .tituloNovedades {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px;
  text-align: center;
  color: black height 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section__newsletter .contenedorNovedades .productosNovedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

.section__newsletter .contenedorNovedades .productosNovedades .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  border: transparent;
  border-radius: 1%;
  -webkit-transition: all 0.9s ease;
  /* Safari y Chrome */
  -moz-transition: all 0.9s ease;
  /* Firefox */
  -o-transition: all 0.9s ease;
  /* IE 9 */
  -ms-transition: all 0.9s ease;
  /* Opera */
}

.section__newsletter .contenedorNovedades .productosNovedades .card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.section__newsletter__contenedor {
  background-color: #ac888a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__newsletter__contenedor__texto {
  margin: 0.8rem;
  text-align: center;
}

.section__newsletter__contenedor__input {
  margin-bottom: 1rem;
  background-color: #f5f2f1;
}

.section__newsletter__contenedor__input input {
  background-color: #f5f2f1;
  border: 1px solid transparent;
}

.section__newsletter__contenedor__input input:focus-visible {
  outline: transparent;
}

.section__newsletter__contenedor__input button {
  background-color: #f5f2f1;
  border: 1px solid transparent;
}
/*# sourceMappingURL=style.css.map */