.section__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: $color-primario;

    .titulosSecciones {
        color: $color-terciario;
        font-size: 1.9rem;
        letter-spacing: 4px;
        font-family: $fuente-titulos;
        text-align: center;
        height: 5rem;
        padding-top: 25px;
        background-color: $color-secundario;
    }

    &__form__maps {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .contenedorFormulario {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            margin-top: 3rem;
            margin-left: 3rem;
            margin-bottom: 3rem;
            background-color: $color-primario;
            width: 25rem;
            border: solid $color-secundario 1px;
            border-radius: 1%;

            .fieldset {
                padding: 10px;

                #legendContactanos {
                    font-size: 25px;
                    padding-bottom: 0.5rem;
                    font-family: $fuente-body;
                    color: $color-terciario;
                }

                .contacto {
                    border: 20px;
                    font-family: $fuente-body;
                    font-weight: bold;

                    .contenedorCampos {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 20px;

                        label {
                            color: $color-terciario;
                            font-family: $fuente-body;
                            letter-spacing: 4px;
                        }

                        .input button,
                        input,
                        optgroup,
                        select,
                        textarea {
                            border-radius: 5px;
                            border: solid 1px $color-primario;
                            color: $color-primario;
                        }
                    }

                    .contenedorBotones {
                        padding: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        border-radius: 5px;
                        padding-bottom: 20px;

                        .btn-light {
                            background-color: $color-primario;
                            border-color: $color-secundario;
                            color: $color-secundario;
                            font-family: $fuente-titulos;
                        }
                    }
                }
            }
        }
    }

    .contenedorSucursales {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: $color-secundario;
        width: 100%;
        padding-top: 10px;

        h3 {
            font-size: 23px;
            letter-spacing: 4px;
            font-family: $fuente-titulos;
            padding-left: 20px;
            padding-right: 20px;
        }

        .sucursales {
            padding-left: 22px;

            p {
                color: $color-terciario;
                font-family: $fuente-body;
                font-weight: bold;
                height: 100%;
            }
        }
    }
}
