.flexContainerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secundario;
    width: 100%;
    margin-top: 0%px;
    padding: 20px;
    clear: both;

    .seguinosRedes {
        h5 {
            letter-spacing: 4px;
            font-family: $fuente-titulos;
            text-align: center;
        }
    }

    .redes {
        svg {
            padding: 10px;
            width: 40px;
            height: 40px;
            transition: all 0.8s;
        }

        svg:hover {
            box-shadow: 0 0 0.2rem $color-secundario;
        }
    }

    .mediosDePago {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        border-top: 1rem;
        border-top: solid 1px $color-secundario;
        align-items: center;

        .imgTarjetas {
            display: flex;
            flex-direction: row;

            img {
                padding: 10px;
                max-height: 40px;
            }
        }
    }
}
