.header__menu {
    background-color: #dbc4c4;
    width: 100%;
    border-bottom: solid 2px $color-secundario;

    .contenedorLogoYelementos {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        .contenedorLogo {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .logo {
                margin: 10px;
                border-radius: 4rem;
                width: 120px;
                margin-left: 10px;
            }
        }

        .navbar {
            margin-bottom: 0.5rem;

            .container-fluid {
                background-color: $color-detalles;

                .nav-link {
                    font-family: $fuente-body;
                    font-weight: bold;
                    transition: all 1s;

                    .nav-link:hover {
                        box-shadow: 0 0 0.2rem $color-primario;
                    }
                }

                .dropdown-menu {
                    background-color: $color-primario;

                    .dropdown-item {
                        background-color: $color-primario;
                        font-family: $fuente-body;
                        font-weight: bold;
                        transition: all 0.5s;
                    }

                    .dropdown-item:hover {
                        background-color: $color-secundario;
                    }
                }

                .d-flex {
                    margin-left: 10px !important;

                    .form-control {
                        font-family: $fuente-body;
                        font-weight: bold;
                        color: $color-terciario;
                        border-right: 1rem;
                    }

                    .form-control:hover {
                        border-color: $color-secundario;
                    }

                    .form-control:focus {
                        color: $color-terciario;
                        box-shadow: 0 0 0 0.25rem $color-secundario;
                    }

                    .btn-outline-success {
                        background-color: #dbc4c4;
                        border-color: $color-secundario;
                        color: $color-terciario;
                    }

                    .btn-outline-success:hover {
                        background-color: #dbc4c4;
                        border-color: $color-secundario;
                        color: $color-terciario;
                    }

                    .btn-outline-success:focus {
                        color: $color-terciario;
                        box-shadow: 0 0 0 0.25rem $color-secundario;
                    }
                }
            }
        }
    }
}
