.header__menu {
    background-color: #dbc4c4;
    width: 100%;
    border-bottom: solid 2px #ac888a;

    .contenedorLogoYelementos {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        .contenedorLogo {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .logo {
                margin: 10px;
                border-radius: 4rem;
                width: 120px;
                margin-left: 10px;
            }
        }

        .navbar {
            margin-bottom: 0.5rem;
        }

        .container-fluid {
            background-color: #dbc4c4;

            .collapse navbar-collapse {
                padding-right: 30px;
            }

            .nav-link {
                font-family: $fuente-barra !important;
                font-weight: bold;
                transition: all 1s;
            }

            .nav-link:hover {
                box-shadow: 0 0 0.2rem #ac888a;
            }

            .dropdown-menu {
                background-color: #f5f2f1;

                .dropdown-item {
                    background-color: #f5f2f1;
                    font-family: $fuente-barra !important;
                    font-weight: bold;
                    transition: all 0.5s;
                }

                .dropdown-item:hover {
                    background-color: #ac888a;
                }
            }

            .form-control {
                font-family: $fuente-barra !important;
                font-weight: bold;
                color: black;
                border-right: 1rem;
            }

            .form-control:hover {
                border-color: #ac888a;
            }

            .form-control:focus {
                color: black;
                box-shadow: 0 0 0 0.25rem #ac888a;
            }

            .btn-outline-success {
                background-color: #dbc4c4;
                border-color: #ac888a;
                color: black;
            }

            .btn-outline-success:hover {
                background-color: #dbc4c4;
                border-color: #ac888a;
                color: black;
            }

            .btn-outline-success:focus {
                color: black;
                box-shadow: 0 0 0 0.25rem #ac888a;
            }
        }
    }
}
