.seccionProductosIndex{
    background-color: #f5f2f1;        

    .titulosSecciones{
        color: black;
        font-size: 1.90rem;
        letter-spacing: 4px ;
        font-family: 'Teko', sans-serif;
        text-align: center;
        height: 6.25rem;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #AC888A;        
    }

    .contenedorProductos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: stretch;
        flex-flow: wrap;
        padding-top: 70px;
        padding-bottom: 100px;

        .categoriaProductos{

            img{
                width: 19rem;    
                border-radius: 20px;
                -webkit-transition:all .9s ease; /* Safari y Chrome */
                -moz-transition:all .9s ease; /* Firefox */
                -o-transition:all .9s ease; /* IE 9 */
                -ms-transition:all .9s ease; /* Opera */
            }

            img:hover {
                -webkit-transform:scale(1.10);
                -moz-transform:scale(1.10);
                -ms-transform:scale(1.10);
                -o-transform:scale(1.10);
                transform:scale(1.10);
            }  
        }  
    }
    
    .contenedorCompraYenvios{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 6rem;
        background-color: #AC888A;

        .compraYenvio{

            a{
                text-decoration: none;
                color: black;
                font-size: 1.25rem;
                letter-spacing: 2px ;
                font-family: 'Teko', sans-serif;     
            }            
        }
    }      
}
