.section__productos{
    background-color: #f5f2f1;
    padding-top: 16px;
    width: 100%;
    
    .titulosSecciones{

        color: black;
        font-size: 40px;
        letter-spacing: 4px ;
        font-family: 'Teko', sans-serif;
        text-align: center;
        height: 100px;
        padding-top: 25px;
        padding-bottom: 25px;
        
    
    }

    .listasCategorias{
       
        padding-bottom: 20px;


        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 5rem;
            


            li{
                list-style-type: none;
                font-family: 'Teko', sans-serif;
                        
                
                .btn-outline-secondary{
                    background-color: #f5f2f1;
                    border-color: #AC888A;
                    color: black;
                    padding: 20px;
                    font-size: 15px;
                    letter-spacing: 4px;
                    
                 
                }
            }
        }
 
    }
    .contenedorDestacados{

        height: fit-content;
            
        .tituloDestacados{

            font-size: 28px;
            letter-spacing: 2px ;
            font-family: $fuente-barra!important;
            font-weight: bold;
            text-align: center;
            color: #AC888A;;
            height: 6rem;
            padding-top: 20px;
            
        }
     
        .productosDestacados{
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        
            .card{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: 'Teko', sans-serif;
                letter-spacing: 2px;
                margin: 1rem;
                background-color: #f5f2f1!important;
                border-radius: 1%;

                
                img:hover{

                    filter: grayscale(60%);
                }

                .card-body{

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h5{

                    font-family: $fuente-barra!important;;
                    color: #000000;
                    font-size: 15px;
                    }

                    .btn-primary {

                    background-color:  #f5f2f1 !important;
                    border: solid #AC888A;
                    color: black;
                    }
                }
            }
        }
    }

    .contenedorCompraYenvios{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 6rem;
        background-color: #AC888A;


        .compraYenvio{

            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
                letter-spacing: 2px ;
                font-family: 'Teko', sans-serif;

            }
            
        }
    }
}

