.header__menu {
  background-color: #D9B4B4;
  width: 100%;
}

.header__menu .contenedorLogoYelementos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .contenedorLogoYelementos .contenedorLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__menu .contenedorLogoYelementos .contenedorLogo .logo {
  margin: 10px;
  border-radius: 200px;
  width: 60%;
}

.header__menu .contenedorLogoYelementos .navbar navbar-expand-lg navbar-light bg-light {
  padding: 0px;
}

.header__menu .contenedorLogoYelementos .navbar navbar-expand-lg navbar-light bg-light .container-fluid {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 16px;
  background-color: #D9B4B4;
}

.header__menu .contenedorLogoYelementos .navbar navbar-expand-lg navbar-light bg-light .container-fluid .nav nav-pills nav-justified a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.header__menu .contenedorLogoYelementos .bg-light {
  background-color: #D9B4B4 !important;
}

.flexContainerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D9B4B4;
  width: 100%;
  margin-top: 0%px;
  padding: 20px;
  clear: both;
}

.flexContainerFooter .seguinosRedes {
  letter-spacing: 4px;
  font-family: 'Teko', sans-serif;
  text-align: center;
}

.flexContainerFooter .redes img {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.section__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f5f2f1;
  padding: 16px;
}

.section__contacto .contenedorFormulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  background-color: #f5f2f1;
  width: 300px;
  border: solid black 1px;
}

.section__contacto .contenedorFormulario #legendContactanos {
  font-size: 30px;
  letter-spacing: 4px;
  font-family: 'Teko', sans-serif;
  text-align: center;
}

.section__contacto .contenedorFormulario .contenedorCampos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__contacto .contenedorFormulario .contenedorBotones {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__contacto .contenedorSucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f2f1;
}

.section__contacto .contenedorSucursales h3 {
  font-size: 30px;
  letter-spacing: 4px;
  font-family: 'Teko', sans-serif;
}

.section__productos {
  background-color: #f5f2f1;
  padding: 16px;
  width: 100%;
}

.section__productos .listasCategorias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.section__productos .listasCategorias ul li {
  list-style-type: none;
}

.section__productos .listasCategorias ul li a {
  text-decoration: none;
  color: black;
}

.section__productos .contenedorDestacados {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section__productos .contenedorDestacados .tituloDestacados {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: 'Teko', sans-serif;
  text-align: center;
  color: #D9B4B4;
}

.section__productos .contenedorDestacados .productosDestacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.section__productos .contenedorDestacados .productosDestacados .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Teko', sans-serif;
  margin: 1rem;
  background-color: #f5f2f1 !important;
  border-radius: 1%;
}

.section__productos .contenedorDestacados .productosDestacados .card img:hover {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body h5 {
  font-family: 'Teko', sans-serif;
  color: #D9B4B4;
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body .btn btn-primary {
  background-color: #8064A2 !important;
}
/*# sourceMappingURL=style.css.map */