.header__menu {
  background-color: #dbc4c4;
  width: 100%;
  border-bottom: solid 2px #AC888A;
}

.header__menu .contenedorLogoYelementos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .contenedorLogoYelementos .contenedorLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__menu .contenedorLogoYelementos .contenedorLogo .logo {
  margin: 10px;
  border-radius: 100px;
  width: 60%;
}

.header__menu .contenedorLogoYelementos .container-fluid {
  background-color: #dbc4c4;
}

.header__menu .contenedorLogoYelementos .container-fluid .collapse navbar-collapse {
  padding-right: 30px;
}

.header__menu .contenedorLogoYelementos .container-fluid .nav-link {
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
}

.header__menu .contenedorLogoYelementos .container-fluid .dropdown-menu {
  background-color: #f5f2f1;
}

.header__menu .contenedorLogoYelementos .container-fluid .dropdown-menu .dropdown-item {
  background-color: #f5f2f1;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
}

.header__menu .contenedorLogoYelementos .container-fluid .form-control {
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
}

.header__menu .contenedorLogoYelementos .container-fluid .btn-outline-success {
  background-color: #dbc4c4;
  border-color: #AC888A;
  color: black;
}

.header__menu .contenedorLogoYelementos .container-fluid .btn-outline-success .btn-outline-success:hover {
  background-color: #dbc4c4;
  border-color: #dbc4c4;
  color: black;
}

.flexContainerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dbc4c4;
  width: 100%;
  margin-top: 0%px;
  padding: 20px;
  clear: both;
}

.flexContainerFooter .seguinosRedes {
  letter-spacing: 4px;
  font-family: 'Teko', sans-serif;
  text-align: center;
}

.flexContainerFooter .redes img {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.section__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f2f1;
}

.section__contacto .contenedorFormulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  background-color: #f5f2f1;
  width: 25rem;
  border: solid  #AC888A 2px;
  border-radius: 1%;
}

.section__contacto .contenedorFormulario .fieldset {
  padding: 10px;
}

.section__contacto .contenedorFormulario .fieldset #legendContactanos {
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  color: #AC888A;
}

.section__contacto .contenedorFormulario .fieldset .contacto {
  border: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.section__contacto .contenedorFormulario .fieldset .contacto .contenedorCampos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__contacto .contenedorFormulario .fieldset .contacto .contenedorBotones {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__contacto .contenedorFormulario .fieldset .contacto .contenedorBotones .btn-light {
  background-color: #f5f2f1;
  border-color: #AC888A;
  color: #AC888A;
  font-family: 'Teko', sans-serif;
}

.section__contacto .contenedorSucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #AC888A;
  width: 100%;
}

.section__contacto .contenedorSucursales h3 {
  font-size: 23px;
  letter-spacing: 4px;
  font-family: 'Teko', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.section__contacto .contenedorSucursales .sucursales {
  padding-left: 22px;
}

.section__contacto .contenedorSucursales .sucursales p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.section__productos {
  background-color: #f5f2f1;
  padding-top: 16px;
  width: 100%;
}

.section__productos .listasCategorias {
  padding-bottom: 20px;
}

.section__productos .listasCategorias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.section__productos .listasCategorias ul li {
  list-style-type: none;
  font-family: 'Teko', sans-serif;
}

.section__productos .listasCategorias ul li .btn-outline-secondary {
  background-color: #f5f2f1;
  border-color: #AC888A;
  color: black;
  padding: 20px;
  font-size: 15px;
  letter-spacing: 4px;
}

.section__productos .contenedorDestacados {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section__productos .contenedorDestacados .tituloDestacados {
  font-size: 28px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
  text-align: center;
  color: #AC888A;
  height: 6rem;
  padding-top: 20px;
}

.section__productos .contenedorDestacados .productosDestacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.section__productos .contenedorDestacados .productosDestacados .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
  margin: 1rem;
  background-color: #f5f2f1 !important;
  border-radius: 1%;
}

.section__productos .contenedorDestacados .productosDestacados .card img:hover {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body h5 {
  font-family: "Roboto", sans-serif !important;
  color: #000000;
  font-size: 15px;
}

.section__productos .contenedorDestacados .productosDestacados .card .card-body .btn-primary {
  background-color: #f5f2f1 !important;
  border: solid #AC888A;
  color: black;
}

@media (max-width: 575.98px) {
  .header__menu .contenedorLogoYelementos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__menu .contenedorLogoYelementos .contenedorLogo {
    border-radius: 100%;
    width: 30%;
  }
  .header__menu .contenedorLogoYelementos .navbar {
    font-size: 10px;
  }
  .header__menu .contenedorLogoYelementos .navbar .li {
    margin: 0px;
    font-size: small;
  }
  .header__menu .contenedorLogoYelementos .navbar .form-control {
    display: none;
  }
  .header__menu .contenedorLogoYelementos .navbar .btn {
    display: none;
  }
  .titulosSecciones {
    font-size: 30px;
    letter-spacing: 3px;
    height: 50px;
    padding-top: 20px;
  }
  .categoriaProductos img {
    padding-bottom: 10px;
  }
  .contenedorSucursales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .contenedorSucursales h3 {
    font-size: 10px;
    letter-spacing: 2px;
    font-family: 'Teko', sans-serif;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header__menu .contenedorLogoYelementos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__menu .contenedorLogoYelementos .contenedorLogo {
    border-radius: 100%;
    width: 30%;
  }
  .header__menu .contenedorLogoYelementos .navbar {
    font-size: 10px;
  }
  .header__menu .contenedorLogoYelementos .navbar .li {
    margin: 0px;
    font-size: small;
  }
  .header__menu .contenedorLogoYelementos .navbar .form-control {
    display: none;
  }
  .header__menu .contenedorLogoYelementos .navbar .btn {
    display: none;
  }
  .titulosSecciones {
    font-size: 30px;
    letter-spacing: 3px;
    height: 50px;
    padding-top: 20px;
  }
  .contenedorProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .contenedorProductos .categoriaProductos img {
    width: 15rem;
    border-radius: 30px;
    padding-bottom: 20px;
  }
  .contenedorSucursales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .contenedorSucursales h3 {
    font-size: 10px;
    letter-spacing: 2px;
    font-family: 'Teko', sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */